[submodule "smo-ves"]
	path = smo-ves
	url = https://github.com/Ramuediga/smo-ves.git
[submodule "smo-o1"]
	path = smo-o1
	url = https://github.com/Ramuediga/smo-o1.git
[submodule "o1-adapter"]
	path = o1-adapter
	url = git@github.com:Ramuediga/o1-adapter.git
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = git@github.com:Ramuediga/openairinterface5g
[submodule "performance-aware-rApp"]
	path = performance-aware-rApp
	url = https://github.com/Ramuediga/performance-aware-rApp.git
