[submodule "smo-ves"]
	path = smo-ves
	url = https://github.com/Energy-optimization/smo-ves.git
[submodule "smo-o1"]
	path = smo-o1
	url = https://github.com/Energy-optimization/smo-o1.git
[submodule "o1-adapter"]
	path = o1-adapter
	url = https://github.com/Energy-optimization/o1-adapter.git
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/Energy-optimization/openairinterface5g
[submodule "performance-aware-rApp"]
	path = performance-aware-rApp
	url = https://github.com/Energy-optimization/performance-aware-rApp.git
